.jobBanner{
    background-color: #85E0FF;
    height: 51px;
    font-size: 0.9em
    
}

.headerOne{
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 2%;
    /* border: 1px solid black; */
}
.loginButton{
    width: 220%;
    height: 32px;
    border-radius: 4px;
    /* margin-top: 2%; */
    /* padding:2% ; */
    color: white;
     background-color: orange;
}

.headerTwo{
    /* border: 1px solid black; */
    /* background-color: orange; */
    background: url("https://assets.loseit.com/website/home/Wave.png"),orange;
    height: 500px;
    /* width: 100%; */
    background-size: 1230px 500px;                     
    background-repeat: no-repeat;
    align-items: center;
    
}
.hdFlex{
    display: flex;
    width: 70%;
    /* border: 1px solid blue; */
    margin: auto;
    height: 100%;
}
/* .hd-flex{
    display: flex;

} */
.h2One{
    /* border: 1px solid; */
    /* width: 40%; */
    width: auto;
}

.h2One img{
width: 67%;
margin-top: 2%;
/* width: auto; */

}
.h2Two{
    /* border: 1px solid ; */
    width: 200%;

}
.h2Two h1{
    font-size: 5vw;
    color: rgb(95, 91, 91);
    font-weight: bold;

}
.h2Two p{
    font-size: 1.4vw;
    color: rgb(87, 84, 84);
    font-weight: bold;


}
.h2Two button{
    /* border: 1px solid; */
    width: 32%;
    height: 45px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    background-color: #183962;
    margin-top: 3%;
}
.checked {
    color: orange;
  }
.apple{

}

.android{

}


/* ///////////////// */


.flexElement img{
    max-width: 47%;
}

/* -------body-slider--------- */
.slider{
    /* border: 1px solid  ; */
    margin: auto;

}

.features{

}





/* //////////////body-blog/////////////////// */

.midtxt p{
    margin-top: 5%;
    /* border: 1px solid ; */
    align-items:center;
    text-align:center; 
    font-size: 2.3vw;
    font-weight: 500;
    color:#183962; ;
}
.flex{
    display:flex;
     margin-left:10%;
     margin-right:10%;
     /* border: 1px solid; */
     margin-top: 4%;
     justify-content: space-evenly;
}
.flexElement{
    /* border: 1px solid ; */
    width: 70%;
    /* margin: auto; */
 
}
.flexElement h3{
    color: orange;
    font-weight: 700;

}

.flexElement img{
    margin-left: 23%;
}

.flexElement p{

}
.features {    
    width: 80%;
    height: auto;
    margin: auto;
    font-size: smaller;
    background-color: white;
    padding: 5%;
    border-radius: 5px;
}

.imgdiv{
    /* border: 1px solid red; */
    width: 50%;
    justify-content: center;
    margin: auto;
    
}
.imgdiv>img{
    margin: auto;
}
.sliderS {
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    margin-top: 1%;
    
    /* height:40vh; */
    /* display: block; */
}
.mainSliderCont{
    /* border: 1px solid red; */
    background-color: #f1f1f1;
    padding: 4%;
}
.divtxt{
    /* border: 1px solid blue; */
    width: 50%;
}
.slick-list{
    margin-top: 10%;
}
/* --------------lower-mid------------ */
.mainmid{
    width: 100%;
    /* border: 1px solid blue; */
}
.midimg1{
    margin: auto;
}
.midimg1>img{
    width: 20%;
    margin: auto;
}
.midtxt{
    /* border: 1px solid red; */
    width: 60%;
    margin: auto;
    color: orange;
    font-size: 3.8em;
}
.midtxt>h2{
    color: #455555;
    letter-spacing: .4em;
    font-size: 2em;
    font-weight: 700;
    margin: 10px auto;
}
.mainmid>h2{
    color: #455555;
    letter-spacing: .4em;
    font-size: 1.4em;
    font-weight: 700;
    margin: 10px auto;
}
.mainmid #seenOnLogos{
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}
#seenOnLogos img{
    width: 10%;
    margin: 2%;
}
.story{
    width: 100%;
    background-color: #183962;
    text-align: center;
}
.flexCard{
    display: flex;
    width: 50%;
    font-size: 0.7em;
    margin: auto;
    padding: 2%;
}
.card1, .card2{
    width: 90%;
    padding: 2%;
}
.card1>img, .card2>img{
    width: 45%;
    margin: auto;
}
/* ----------------slick lower------------ */
.slickCont{
    width: 50%;
    margin: auto;
}
.mainContainer{
    padding: 1%;
}
.slcard{
    padding:8%;
    font-size: 0.7em;
}
.button1{
    border:1px solid , white;
    margin-top: 2%;
    width: 20%;
    height: 49px;
    border-radius: 4px;
    color: white;
    background-color: #183962;

}
/* .mobileFlex{
    display:flex;
    margin-top: 4%;
    background-image: url(	"https://assets.loseit.com/website/home/Pattern_50opacity_Long.svg");
    border:1px solid red;
    width: 100%;
    height: nu;
    
} */
.mobileflex>a>img{
    width: 10%;
    padding: 4%;
}
/* .mobileFlex>div{
    width:10%;
    border:1px solid blue;
    display:flex;
    margin: auto;
    display: flex;
    margin-bottom: 2%;
} */







/* ////////////footer//////////// */
.footer{
    
    height:500px;
    background-color: #183962;
    margin-top: 4%;
    width:100%;

    border:2px red
}
.footer p {
    font-size: smaller;
}

.flexFooter{
    display: flex;
    /* border: 1px solid pink; */
    height: 300px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.underflexFooter{
    /* border: 1px solid white; */
    width:25%;

    color:white;
    margin-top: 5%;


}

.iconFlex{

}


.lastdiv{
    color: white;
    font-size: 14px;
}