.headerDiv{
    /* border: 1px solid red; */
    width: 250px;
}

.headerImg{
    width: 250px;
    cursor: pointer;
    
}
.middleDiv{
 
   width: 70%;
   margin: auto;
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
}
.leftDiv{
    width: 50%;
    margin-top: 80px;
    height: 400px;
 
}
.btnYes,.btnNo{
    color:white;
    background-color: #ff9400;
    cursor: pointer;
    width: 200px;
    height: 42px;
    border-radius: 5px;
    font-size: larger;
    border: none;
    font-weight: bolder;
    text-align: center;
}
.rightDiv{
    width: 480px;
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
}
.rightDivHead{
    color: #173966;
    font-size: 27px;
    
    width: 90%;
   
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 30px;
}
.leftDivImgDiv{
    display: flex;
    font-size: small;
    justify-content: space-around;
    margin-top: 75px;
}
.leftDivImg{
    width: 100px;
    
}
.leftDivHead{
    color:#ff9400;
    font-size: 30px;
  
    width: 75%;
    font-weight: bold;
    margin: auto;
    margin-top: 80px;
}