.headerOne{
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 2%;
    /* border: 1px solid black; */
}
.loginButton{
    width: 300%;
    height: 35px;
    border-radius: 4px;
    /* margin-top: 2%; */
    /* padding:2% ; */
    color: white;
     background-color: orange;
}
.banner{
    background: url("https://assets.loseit.com/website/corporate/InteriorHeaderPattern.svg")  #FF8D00;

    background-position: 100% 50%;
    background-size: 100% 500px;
    height: 300px;
    background-repeat: repeat;
    /* border:1px solid teal; */
    font-weight: bold;

}
.banner button{
    border: 1px solid white;
    width: 13%;
    height: 50px;
    background-color: white;
    font-weight: 500;
    border-radius: 5%;
    /* margin: auto; */
    /* margin: top -90px ; */
    /* margin-top: -1000px; */
    /* margin-bottom: 10%; */
    /* padding-top: 5%; */
    /* padding-bottom: 45%; */

}

.imageFlex {
    display: flex;
    /* border: 3px solid green; */
    margin-top: 5%;
    justify-content: center;
    height: auto;
    width: 100%;
}

.body{
    width: 50%;
    margin:auto;
    padding: 5%;
}
/* .giftdiv *{
border:1px solid blue

} */
.gift > img{
    width: 30%;
    /* border:1px solid red */
}

.Jobfooterflex{
    display: flex;
    width: 100%;
    height: 250px;
    /* border: 1px solid red; */
    justify-content: space-between;
    
    
}


/* ////////////jobSlider//////// */
.slickCont{
    width: 50%;
    margin: auto;
}
.main{
    padding: 1%;
}
.slcard{
    padding:8%;
    font-size: 0.7em;
}



.engg a{
    color:orange;
    font-size: midium;
    margin-left: 5%;
}
